*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* Small screens and above (default) */

.container {
    
}

.column {
    padding: 0;
}

/* Medium screens and above */

@media (min-width: 40rem) {
    .column {
        /*float: left;*/
    } 
   
    .column.ten {
        /*width: 83.33%;*/
        flex: 0 0 50%;
        
		/*background: url(../img/RTI_w_1in.png);
		background-repeat: no-repeat;
        background-position-y: 2.5rem;
        background-position-x: 3rem;*/
    }
    
    .column.two {
        /*width: 16.66%;*/
        flex: 0 0 50%;
    }
}