@media all and (min-width:350px) {

/* landing page */

.landingPage {
    /*width: 70%;*/
}

.landingPage > h1 {
    font-size: calc(24px + (200 - 24) * ((100vw - 200px) / (1600 - 200)));
    /*letter-spacing: 9px;*/
    
}

.landingPage > h2 {
    /*letter-spacing: 19px;*/
    font-size: calc(24px + (120 - 24) * ((100vw - 120px) / (1600 - 120)));
    margin: -3rem 0 0 0;
}


.landingPage > h3 {  
    margin: 0 0 0 0.6rem;
    /*letter-spacing: 16px;*/
    font-size: calc(24px + (50 - 24) * ((100vw - 50px) / (1600 - 50)));
}


}

@media all and (max-width:992px) {
  
  /*.logo {
    width: calc(20vw);
}*/
}